<% content_for :javascripts do %>
<% end %>

<% content_for :contests do %>
  <div class="contests">
    <ul>
      <% Contest.all.each do |contest| %>
        <li>
          <%= link_to "Мисс #{contest.year}", manage_contest_members_path(contest) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :promoters do %>
  <!-- в менеджерском виде спонсоры нафиг не нужны -->
<% end %>

<%= render :file => 'layouts/application' %>

