<% content_for :contests do %>
  <div class="contests">
    <ul>
      <li><a href="#">Мисс 2011</a></li>
      <li><a href="#">Мисс 2010</a></li>
      <li><a href="#">Мисс 2009</a></li>
      <li><a href="#">Мисс 2008</a></li>
      <li><a href="#">Мисс 2007</a></li>
    </ul>
  </div>
<% end %>

<% content_for :promoters do %>
  <div class="promoters">
    тут будут спонсоры
  </div>
<% end %>

<%= render :file => 'layouts/application' %>

